{% extends 'base.html' %}

{% load static %}

{% block Titulo %} 
Senac Store 
{% endblock Titulo %}

{% block Conteudo %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Destaques</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Os melhores produtos com os melhores preços!</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    

                {% for produto in produtos %}
                    {% include 'includes/card_produto.html' %}
                {% empty %}
                    Sem estoque
                {% endfor %}

                   
                    <!-- Inicio Produtos -->
                    
                </div>
            </div>
        </section>
        <!-- Footer-->
        {% endblock Conteudo %}