{% load static %}

<div class="col mb-5">
    <div class="card h-100">

        {% if produto.Lancamento == True %}
    
        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Lançamento</div> 

        {% endif %}
        <!-- Product image-->
        <img class="card-img-top" src="{{ produto.imagem.url }}" width="450" alt="{{ produto.nome }}" />
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{ produto.nome }}</h5>
                <!-- Product reviews-->
                <div class="d-flex justify-content-center small text-warning mb-2">
                    {% for estrelinha in produto.get_avaliacao %}
                    <div class="bi-star-fill"></div>
                    {% endfor %}
                </div>
                <!-- Product price-->
                R$ {{ produto.preco }}
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'produto_detalhe' id=produto.id %}">Ver Produto</a></div>
        </div>
    </div>
</div>